<div class="header-inner">
    <div class="container-fluid">
      <nav class="navbar bg-light fixed-top">
        <div class="container-fluid mb-1 justify-content-center display-6">
          <b style="color: #818181;"><%= title %></b>
        </div>
      </nav>
    </div>
</div>