<div class="container mb-2">
    <div
      class="row justify-content-center"
      style="height: 190px; margin-top: 70px"
    >
      <div class="col-xxl text-center">
        <img src=<%= address %> class="img-fluid" width="280px" />
      </div>
    </div>
</div>